<div class="dashboard-main">
    <header>
        <div class="app-logo">
            <img src="../../../../../assets/app_logo.svg">
            <p>Crypto Planet</p>
        </div>

        <div class="profile-container">
            <img src="../../../../../assets/avatar.svg">
            <p>{{username}}</p>
        </div>
    </header>
    <section class="dashboard__container">
        <app-market></app-market>
        <app-selected-coin></app-selected-coin>
        <div class="dashboard__sections">
            <div>
                <app-calculator></app-calculator>
            </div>
            <div>
                <app-coin-list></app-coin-list>    
            </div>
        </div>
        <app-chart></app-chart>
    </section>
</div>