<div class="login__container">
    <div class="app-logo">
        <img src="../../../../../assets/app_logo.svg">
        <p>Crypto Planet</p>
    </div>
    <div class="login__side-pic">
        <div class="side-placeholder"></div>
    </div>
    <div class="login__form-container">
        <div class="login_form-box">
            <p class="login__title">Create an Account</p>

            <input type="text" class="auth__input-field" placeholder="Enter Email or Phone Number">

            <div class="right-inner-addon input-container">
                <img src="../../../../../assets/show pass.svg" class="pass-icon">
                <input type="text"
                    class="auth__input-field"
                    placeholder="Password" />
            </div>

            <div class="right-inner-addon input-container">
                <img src="../../../../../assets/show pass.svg" class="pass-icon">
                <input type="text"
                    class="auth__input-field"
                    placeholder="Confirm Password" />
            </div>
        </div>
    </div>
</div>




 <ng-template #login>
    <div class="login__form-box">
        <p class="login__title">Sign In to Dynamic</p>

        <input type="text" class="auth__input-field" placeholder="Email">

        <div class="right-inner-addon input-container">
            <img src="../../../../../assets/show pass.svg" class="pass-icon">
            <input type="text"
                   class="auth__input-field"
                   placeholder="Password" />
        </div>

        <div class="info-field">
            <p>Scan to login</p>

            <a href="#">Forgot password?</a>
        </div>

        <div class="register-field">
            <p>If you don’t have an account you can <a href="#"> Register Here!</a></p>
        </div>

        <div class="alternative-field">
            <hr>
            <p class="alternative-title">or continue with</p>
            <hr>
        </div>

        <div class="social-field">
            <div class="social-icon">
                <img src="../../../../../assets/google_icon.svg" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../../../assets/apple_icon.svg" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../../../assets/facebook_icon.svg" alt="">
            </div>
        </div>

       

        <div class="button-field">
            <button class="login-btn">Sign In</button>
        </div>
    </div>
 </ng-template>
 
 <!-- <div class="right-inner-addon input-container">
                <img src="../../../../../assets/show pass.svg" class="pass-icon">
                <input type="text"
                       class="auth__input-field"
                       placeholder="Confirm password" />
            </div>

            <div class="agreement-field">
                <input checked="" type="checkbox" id="cbx" class="hidden-xs-up">
                <label for="cbx" class="cbx"></label>

                <p>By Register i agree that i’m 18 years of age or older, ot the <a href="#">User Agreements</a>, <a href="#">Privacy Policy</a>, <a href="#">Cookie Policy</a>.</p>
</div> -->