<div class="login__container">
    <div class="app-logo">
        <img src="../../../../../assets/app_logo.svg">
        <p>Crypto Planet</p>
    </div>
    <div class="login__side-pic">
        <div class="side-placeholder"></div>
    </div>
    <div class="login__form-container" [ngSwitch]="loginStage">    
        <div *ngSwitchCase="'login'" class="login__form-box" >
            <ng-container *ngTemplateOutlet="login"></ng-container>
        </div>
        <div *ngSwitchCase="'recovery'" class="login__form-box" >
            <ng-container *ngTemplateOutlet="recovery"></ng-container>
        </div>
        <div *ngSwitchCase="'confirm'" class="login__form-box" >
            <ng-container *ngTemplateOutlet="confirm"></ng-container>
        </div>
        <div *ngSwitchCase="'code'" class="login__form-box" >
            <ng-container *ngTemplateOutlet="code"></ng-container>
        </div>    
    </div>
</div>

<ng-template #code>
        <div class="login___security-container">
            <p class="login__title">Enter your security code</p>
            <p>We texted your code to +1 234 567 890</p>    
        </div>

        <div class="login__security-code">
            <div class="code-number">
                1
            </div>
            <div class="code-number">
                2
            </div>
            <div class="code-number">
                3
            </div>
            <div class="code-number">
                4
            </div>
        </div>

        <div class="button-field">
            <button class="login-btn" (click)="onLoginStageChange('endCode')">Continue</button>
        </div>
</ng-template>


<ng-template #confirm>
        <div>
            <p class="login__title">Let`s confirm it`s really you</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, fugiat.</p>
        </div>

        <div>
            <label class="radio-button">
                <input type="radio" name="option" value="option1">
                <div class="radio-circle"></div>
                <span class="radio-label">Get the code by text message</span>
            </label>
            <input type="text" class="auth__input-field" placeholder="Enter Phone number">
        </div>

        <div>
            <label class="radio-button">
                <input type="radio" name="option" value="option2">
                <div class="radio-circle"></div>
                <span class="radio-label">Get the code by email at</span>
            </label>
            <input type="text" class="auth__input-field" placeholder="Enter Email">
        </div>

        <div class="button-field">
            <button class="login-btn" (click)="onLoginStageChange('code')">Continue</button>
        </div>
</ng-template>


<ng-template #recovery>
        <div>
            <p class="login__title">Password Recovery</p>
            <p>Enter your email to recover your password</p>
        </div>

        <input type="text" class="auth__input-field" placeholder="Enter Email">
        
        <div class="button-field">
            <button class="login-btn" (click)="onLoginStageChange('confirm')">Reset Password</button>
        </div>
</ng-template>

 <ng-template #login>
        <p class="login__title">Sign In to Dynamic</p>
        <div class="form-container" [formGroup]="loginFormGroup">
            <input type="text" class="auth__input-field" placeholder="Email" formControlName="email">

            <div class="right-inner-addon input-container">
                <input type="{{ showPassword ? 'text' : 'password' }}"
                       class="auth__input-field"
                       placeholder="Password" 
                       formControlName="password"/>
                <img (click)="isShowPass()" src="../../../../../assets/show_pass.svg" class="pass-icon">
            </div>
        </div>
        <div class="info-field">
            <p>Scan to login</p>

            <a (click)="onLoginStageChange('recover')">Forgot password?</a>
        </div>

        <div class="register-field">
            <p>If you don’t have an account you can <a routerLink="/auth/register"> Register Here!</a></p>
        </div>

        <div class="alternative-field">
            <hr>
            <p class="alternative-title">or continue with</p>
            <hr>
        </div>

        <div class="social-field">
            <div class="social-icon">
                <img src="../../../../../assets/google_icon.svg" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../../../assets/apple_icon.svg" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../../../assets/facebook_icon.svg" alt="">
            </div>
        </div>

       

        <div class="button-field">
            <button class="login-btn" (click)="loginUser()" [ngClass]="{'login-btn-disabled': !loginFormGroup.valid}">Sign In</button>
        </div>
 </ng-template>
 
