<div class="dashboard-tile__container">
    <div class="selected-coin-container">
        <div class="stats-container">
            <div class="stats-title">
                <p>Market Stats</p>
                <div class="coin-container">
                    <img src="../../../../../assets/avatar.svg" alt="">
                    <p>Coin name</p>
                    <div class="label">Coin name</div>
                    <img src="../../../../../assets/favourite.svg" alt="">
                </div>
            </div>
            <div class="price-title">
                <div class="price-label">
                    <p>$9999.99,99</p>
                    <div class="high-label">
                        <p>+99%</p>
                        <img src="../../../../../assets/up-icon.svg" alt="">
                    </div>
                </div>
                <div class="price-value">
                    <p>Bitcoin Price(USD)</p>
                    <mat-icon>error_outline</mat-icon>
                </div>
            </div>
        </div>
        <div class="volume-container">
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/chart-icon.svg" alt="">
                    <p>Market Cap</p>
                </div>
                <div class="volume-price">
                    <p>$999.999,99</p>
                </div>
                <div class="volume-dynamic dynamic-up">
                    <p>+2%</p>
                    <mat-icon>trending_up</mat-icon>
                </div>
            </div>
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/diluted.svg" alt="">
                    <p>Full Diluted</p>
                </div>
                <div class="volume-price">
                    <p>$999.999,99</p>
                </div>
                <div class="volume-dynamic dynamic-down">
                    <p>-22%</p>
                    <mat-icon>trending_down</mat-icon>
                </div>
            </div>
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/24-volume.svg" alt="">
                    <p>24 Volume</p>
                </div>
                <div class="volume-price">
                    <p>$999.999,99</p>
                </div>
                <div class="volume-dynamic dynamic-up">
                    <p>+2%</p>
                    <mat-icon>trending_up</mat-icon>
                </div>
            </div>
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/diluted.svg" alt="">
                    <p>Circulating Supply</p>
                </div>
                <div class="volume-price">
                    <p>$999.999,99</p>
                </div>
                <div class="volume-dynamic dynamic-up">
                    <p>+25%</p>
                    <mat-icon>trending_up</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <mat-icon>trending_down</mat-icon>
<mat-icon>trending_up</mat-icon> -->