<div class="dashboard-tile__container">
    <div class="selected-coin-container">
        <div class="stats-container">
            <div class="stats-title">
                <p>Market Stats</p>
                <div class="coin-container">
                    <img [src]="'https://www.cryptocompare.com/'+ (selectedCoinData | async)!.imageUrl"  class="coin-avatar">
                    <p>{{(selectedCoinData | async)?.coinName}}</p>
                    <div class="label">{{(selectedCoinData | async)?.coinName}}</div>
                    <img src="../../../../../assets/favourite.svg" alt="">
                </div>
            </div>
            <div class="price-title">
                <div class="price-label">
                    <p>{{(selectedCoinData | async)!.coinPrice | current: 'cash'}}</p>
                    <div class="high-label">
                        <p #elRef>{{(selectedCoinData | async)!.dailyPercent | current: 'percent': elRef}}</p>
                    </div>
                </div>
                <div class="price-value">
                    <p>{{(selectedCoinData | async)?.coinName}} Price(USD)</p>
                    <mat-icon>error_outline</mat-icon>
                </div>
            </div>
        </div>
        <div class="volume-container">
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/chart-icon.svg" alt="">
                    <p>Market Cap</p>
                </div>
                <div class="volume-price">
                    <p>{{(selectedCoinData | async)!.marketCap | current:'cash'}}</p>
                </div>
                <div class="volume-dynamic">
                    <p #elRef>{{(selectedCoinData | async)!.marketCapPrice | current:'percent': elRef}}</p>
                    <mat-icon trend [trendValue]="(selectedCoinData | async)!.marketCapPrice"></mat-icon>
                </div>
            </div>
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/diluted.svg" alt="">
                    <p>Full Diluted</p>
                </div>
                <div class="volume-price">
                    <p>{{(selectedCoinData | async)!.fullyDilutedPrice | current:'cash'}}</p>
                </div>
                <div class="volume-dynamic">
                    <p #elRef>{{(selectedCoinData | async)!.fullyDiluted | current:'percent': elRef}}</p>
                    <mat-icon trend [trendValue]="(selectedCoinData | async)!.fullyDiluted"></mat-icon>
                </div>
            </div>
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/24-volume.svg" alt="">
                    <p>24 Volume</p>
                </div>
                <div class="volume-price">
                    <p>{{(selectedCoinData | async)!.volume24hrPrice | current:'cash'}}</p>
                </div>
                <div class="volume-dynamic">
                    <p #elRef>{{(selectedCoinData | async)!.volume24hr | current:'percent': elRef}}</p>
                    <mat-icon trend [trendValue]="(selectedCoinData | async)!.volume24hr"></mat-icon>
                </div>
            </div>
            <div class="volume-card-container">
                <div class="volume-icon">
                    <img src="../../../../../assets/diluted.svg" alt="">
                    <p>Circulating Supply</p>
                </div>
                <div class="volume-price">
                    <p>{{(selectedCoinData | async)!.circulatingSupplyPrice | current:'cash'}} | {{(selectedCoinData | async)?.coinName}}</p>
                </div>
                <div class="volume-dynamic max-supply">
                    <p>Max supply {{(selectedCoinData | async)!.circulatingSupply | current:'cash'}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-container" *ngIf="(isDataLoaded$ | async) === false">
        <p>Select coin to see statistics</p>
    </div>
</div>
