/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    --dark-theme: #080808;
    --dark-container-bg: #121318;
}

*::-webkit-scrollbar {
    display: none;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.auth__input-field {
    width: 100%;
	box-sizing: border-box;
    height: 60px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: white;
    background-color: var(--dark-container-bg);
    padding: 20px;
}

.app-logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.app-logo p {
    margin: 0px;
}

.dashboard-tile__container {
    background-color: var(--dark-container-bg);
    border-radius: 10px;
}