button {
    margin-top: 70px;
    width: 100%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #5367FF;
    border-radius: 20px;
    outline: none;
    border: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.image-icon {
    width: 64px;
    border-radius: 50%;
}

.calculator-container {
    width: calc(100% - 100px);
    padding: 50px;
}

.trade-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.coin-price-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.coin-price-container p {
    margin: 0px;
    font-size: 25px;
}

.trade-form-container {
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 60px;
}

.trade-form-container > p {
    font-size: 30px;
    color: #9295A6;
}

.input-container span {
    font-size: 25px;
}

.trade-input-container {
    width: calc(100% - 20px);
    border: 2px solid #9295a66c;
    border-radius: 10px;
    padding: 10px;
}

.trade-input-container > p {
    font-size: 20px;
    color: #9295a66c;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-container p {
    margin: 0px;
    font-size: 25px;
}

.input-container input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 30px;    
    color: white
}

.input-container img {
    margin-left: auto;
    margin-right: 20px;
}