<div class="dashboard-tile__container">
    <div class="calculator-container">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Buy">
                <ng-container *ngTemplateOutlet="tradeContainer"></ng-container>
                <button (click)="openSnackBar('buy')">Buy</button>
            </mat-tab>
            <mat-tab label="Sell">
                <ng-container *ngTemplateOutlet="tradeContainer"></ng-container>
                <button (click)="openSnackBar('sell')">Sell</button>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="loader-container" *ngIf="(isDataLoaded$ | async) === false">
        <p>Select coin to see calculator</p>
    </div>
</div>

<ng-template #tradeContainer>
    <div class="trade-container">
        <div class="coin-price-container">
            <img [src]="'https://www.cryptocompare.com/'+ (coinImageUrl$ | async)" class="image-icon">
            <p>{{(coinPrice$ | async)! | current: 'cash'}}</p>
        </div>

        <div class="trade-form-container" [formGroup]="tradeInputGroup">
            <div class="trade-input-container">
                <p>Quantity({{coinName}})</p>
                <div class="input-container">
                    <input type="number" formControlName="coinEquivalent" class="no-spinner" (input)="coinEquivalentChange()">
                </div>
            </div>
            <div class="trade-input-container">
                <p>Buy for(USD)</p>
                <div class="input-container disable">
                    <span>$</span>
                    <input type="number" formControlName="usdEquivalent" class="no-spinner">
                </div>
            </div>
            <p>Total: (+2% Fee) {{totalExchangeResult | current: 'cash'}}</p>
        </div>
    </div>
</ng-template>
