<div class="dashboard-tile__container">
    <div class="market-list-container">
        <div class="search-container">
            <div class="search-title">
                <p>Market Coins</p>
            </div>
            <div class="search-bar">
                <div class="group">
                    <mat-icon fontIcon="search" class="icon"></mat-icon>
                    <input  class="input" 
                    type="text"
                            placeholder="Select coin from the list"
                            aria-label="Number"
                            matInput
                            [formControl]="searchControl"
                            [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption (optionSelected)="selectedCoin($event)" #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>                    
                </div>
                
            </div>
        </div>
        <div class="coin-display">

        </div>
   </div>
</div>
