<div class="dashboard-tile__container">
    <div class="market-list-container">
        <div class="search-container">
            <div class="search-title">
                <p>Market Coins</p>
            </div>
            <div class="search-bar">
                <div class="group">
                    <mat-icon fontIcon="search" class="icon"></mat-icon>
                    <input placeholder="Search" type="search" class="input">
                </div>
            </div>
        </div>
        <div class="coin-display">

        </div>
   </div>
</div>
